<form (ngSubmit)="addRider()" [formGroup]="riderForm" autocomplete="off" class="form-center">
    <div class="form-group">
        <div class="left form-group-2">
            <label for="firstname">Prénom</label>
            <input type="text" id="firstname" class="inline-block" placeholder="Votre prénom" formControlName="firstname" #input>
            <div ngxErrors="firstname" #firstname="ngxErrors">
                <div class="notice notice-error" ngxError="required" [when]="['dirty']">Le prénom est requis</div>
            </div>
        </div>
        <div class="right form-group-2">
            <label for="lastname">Nom</label>
            <input type="text" id="lastname" class="inline-block" placeholder="Votre nom" formControlName="lastname">
            <div ngxErrors="lastname" #lastname="ngxErrors">
                <div class="notice notice-error" ngxError="required" [when]="['dirty']">Le nom est requis</div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="form-group">
        <label for="phone">Téléphone mobile</label>
        <input type="tel" id="phone" placeholder="Votre numéro de téléphone mobile" maxlength="10" formControlName="phone">
        <div ngxErrors="phone" #phone="ngxErrors">
            <div class="notice notice-error" ngxError="required" [when]="['dirty']">Un numéro de téléphone mobile est requis</div>
            <div class="notice notice-error" ngxError="pattern" [when]="['dirty']">Ce numéro de téléphone mobile est invalide</div>
        </div>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" placeholder="Votre adresse email" formControlName="email">
        <div ngxErrors="email" #email="ngxErrors">
            <div class="notice notice-error" ngxError="required" [when]="['dirty']">Une adresse email est requise</div>
            <div class="notice notice-error" ngxError="email" [when]="['dirty']">Cette adresse email est invalide</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" placeholder="Un mot de passe" formControlName="password">
        <div ngxErrors="password" #password="ngxErrors">
            <div class="notice notice-error" ngxError="required" [when]="['dirty']">Un mot de passe est requis</div>
            <div class="notice notice-error" ngxError="pattern" [when]="['dirty']">{{ passwordMinLength }} caractères minimum. Actuellement : {{ riderForm.value.password.length }}</div>
        </div>
    </div>
    <uberlike-response-message [data]="data"></uberlike-response-message>
    <button type="submit" class="button-full small-space-top center" [disabled]="!riderForm.valid || isLoading">
        <span *ngIf="!isLoading">S'inscrire</span>
        <uberlike-loader [isLoading]="isLoading"></uberlike-loader>
    </button>
</form>