/**
 * @author Louis Grenard <louis.grenard@gmail.com>
 *
 * Variables here
 */

$font-size	  		        : 16px;
$font		  	 	        : 'Roboto', 'OpenSans', sans-serif;
$border-radius	 	        : 2px;
$shadow                     : 0 1px 1px rgba(0, 0, 0, .5);
$animation-duration         : .15s;

$small-space                : 32px;
$medium-space               : $small-space * 2;
$large-space                : $small-space * 4;

$light-blue                 : #2196F3;
$light-pink                 : #FF2D57;
$pink                       : #FF1744;
$green                      : #00C853;

$border-color               : #CCC;