<header>
    <!--<nav>
        &lt;!&ndash; exact: true cause else it will consider others routes as "children" of "/" &ndash;&gt;
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        <a routerLink="/signup" routerLinkActive="active">Inscription</a>
        <a routerLink="/riders/1" routerLinkActive="active">Rider 1</a>
    </nav>-->
</header>
<main>
    <!-- Where the router should display the view -->
    <router-outlet></router-outlet>
</main>
<footer></footer>