/**
 * no-trailing-spaces:off: do not care about whitespaces
 * linebreak-style:off: do not care about empty spaces, depending of OS platform
 * indent:off: do not care about indent size (how many space(s) in one tab)
 * strict:off: do not care about strict mode is important or not (always here cause I force it)
 * comma-dangle:off: do not care about last comma from key:value into objects, ...
 * no-console:off: do not care about console left in files
 * no-param-reassign:off: do not care about if a param is reassigned to another value
 * import/no-extraneous-dependencies:error:devDependencies:["**\/*.spec.js"]:
 * do not care about if dev dependencies with that glob are imported (here for tests, as chai, ...)
 */

{
    "extends": "airbnb",
    "env": {
        "node": true,
        "mocha": true
    },
    "plugins": [
        "react",
        "jsx-a11y",
        "import"
    ],
    "rules": {
        "no-trailing-spaces": "off",
        "linebreak-style": "off",
        "indent": "off",
        "strict": "off",
        "comma-dangle": "off",
        "no-console": "off",
        "no-param-reassign": "off",
        "import/no-extraneous-dependencies": ["error", {
            "devDependencies": ["**/*.spec.js"]
        }]
    }
}